.sign-in-field{
    margin: 70px auto;
    border: 1px solid black;
    width:350px;
    padding: 10px;
    text-align: center;
}

.sign-in-field input{
    border-top: none;
    border-left: none;
    border-right: none;
}
.submit-btn{
    background-color:tomato;
    border-bottom:none;
    width:310px;
    border-radius:3px;
    padding:5px;
}